# Release folder
public/dist

# Dependency directory
node_modules
public/libs

# Optional npm cache directory
.npm
npm-debug.log

# config folder
config

# Launching script
launch.sh

# MongoDB backup
mongo
